<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kevin.garden/<%= title %></title>

  <style>
    body {
      font-size: 0.85em;
      padding: 1em;
      background-color: black;
      color: white;
    }
    .item {
      display: inline-block;
      height: 25em;
      margin: 1em 0;
    }
    .item > img,
    .item > video {
      width: auto;
      height: 100%;
    }
    a {
      color: white;
    }
    p {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <p><a href="/">back</a></p>
  <p>/</p>
  <div class="gallery">

    <%_ multimedia.forEach(function(media) { _%>
    <div class="item">
      <p><%= media.name %></p>
      <%_ if (media.type === 'image') { _%>
      <img src="<%= media.path %>" alt="<%= media.name %>" width="<%= media.width %>" height="<%= media.height %>">
      <%_ } else if (media.type === 'video') { _%>
      <video width="<%= media.width %>" height="<%= media.height %>" controls>
        <source src="<%= media.path %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <%_ } _%>
    </div>

    <%_ }) _%>
  </div>
</body>

</html>
