<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kevin.garden<% if (locals.title && title) { %>/<%= title %><% } %></title>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      <%_ if (locals.backgroundColor) { _%>
      color: <%= color %>;
      background-color: <%= backgroundColor %>;
      <%_ } _%>
    }
    main {
      box-sizing: border-box;
      padding: 1em;
      align-items: center;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 1em;
      font-weight: normal;
      color: #53A82C;
    }
    h1, h2, h3, h4, h5, h6, p, ol, ul {
      margin: 0;
    }
    .plantbed {
      width: 0;
      height: auto;
      margin: auto;
      position: relative;
    }
    .item {
      display: block;
      position: absolute;
      margin: 1em 0;
    }
    .item * {
      width: max-content;
    }
    .item img, .item video, .item audio {
      width: 18em;
      height: auto;
    }
    .item audio {
      height: 3em;
    }
    pre {
      margin: 0;
      font-family: inherit;
      white-space: pre-wrap;
    }
    p {
      margin: 0;
      font-family: inherit;
    }
    a {
      color: inherit;
    }
  </style>
</head>

<body>
  <main>
    <%_ if (locals.title && title) { _%>
    <h3><a href="..">back</a></h3>
    <!-- <p><%= title %></p> -->
    <%_ } _%>

    <div class="plantbed">

      <%_ files.forEach(function(file) { _%>
      <div class="item" style="top: <%= file.location.y %>px; left: calc(<%= file.location.x %>px - 9em)">
        <%_ if (file.type === 'directory') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a> (<%= file.contents %>)</h3>
        <%_ } else if (file.type === 'image') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a> (<%= file.size %>)</h3>
        <a href="<%= file.path %>">
          <img src="<%= file.path %>" alt="<%= file.name %>" width="<%= file.width %>" height="<%= file.height %>">
        </a>
        <%_ } else if (file.type === 'video') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a> (<%= file.size %>)</h3>
        <video width="<%= file.width %>" height="<%= file.height %>" controls>
          <source src="<%= file.path %>"> <!-- TODO: add type -->
          Your browser does not support the video tag.
        </video>
        <%_ } else if (file.type === 'audio') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a> (<%= file.size %>)</h3>
        <audio controls>
          <source src="<%= file.path %>"> <!-- TODO: add type -->
          Your browser does not support the audio tag.
        </audio>
        <%_ } else if (file.type === 'text') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a></h3>
        <%_ if (file.contents) { _%>
        <pre><%= file.contents %></pre>
        <%_ } _%>
        <%_ } else if (file.type === 'markdown') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a></h3>
        <div>
          <%- file.contents _%>
        </div>
        <%_ } else if (file.type === 'raw') { _%>
        <h3><%= file.name %></h3>
        <%_ if (file.contents) { _%>
        <pre><%= file.contents %></pre>
        <%_ } _%>
        <%_ } else if (file.type === 'other') { _%>
        <h3><a href="<%= file.path %>"><%= file.name %></a> (<%= file.size %>)</h3>
        <%_ } _%>
      </div>

      <%_ }) _%>
    </div>
  </main>
</body>

</html>
